# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\cs_li\Desktop\PKU_Knows-main\backend\pkucloud-parent\pkucloud-auth-wxa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
